header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin:  16px;
}
header ul li{
    margin: 8px;
    cursor: pointer;
    width: 96px;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    transition: background 0.4s;
}
header ul li a{
    color: #495e57;
    transition: color 0.4s;
}
header ul li:hover{
    cursor: pointer;
    background: #495e57;
}
header ul li:hover a{
    color: #f4ce14;
}
.site-footer {
    max-width: none;
    width: 100%;
    background-color: #495E57;
    color: #FFFFFF;
}

.site-footer .container {
    grid-template-columns: repeat(4, auto);
    margin: auto;
    width: 40%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.site-footer-logo {
    grid-column: 1;
    min-width: 6rem;
    width: 6rem;
}

.site-footer h4 {
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    margin-bottom: 1rem;
}

.site-footer a {
    color: #FFFFFF;
    transition: color 0.5s;
}

.site-footer a:hover,
.site-footer a:focus {
    color: #F4CE14;
}

.site-footer-nav {
    grid-column: 2;
}

.site-footer-nav ul {
    list-style-type: none;
}

.site-footer-nav li {
    margin-bottom: 0.25rem;
}

.site-footer-contact {
    grid-column: 3;
}

.site-footer-contact svg {
    margin-right: 0.5rem;
}

.site-footer-contact p {
    margin-bottom: 0.25rem;
}

.site-footer-social {
    grid-column: 4;
}

.site-footer-social svg {
    margin-right: 1rem;
}
