.center{
    margin-left: auto;
    margin-right: auto;
    max-width: 986px;
    width: 90%;
}
.btn {
    padding: 8px 16px;
    border-radius: 32px;
    background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    border: #F4CE14 solid 3px  ;
    transition: background, border, color 0.5s;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.grid {
    display: grid;
}
main section {
    margin-bottom: 5rem;
}
.btn:hover,
.btn:focus {
    background-color: #495E57;
    border-color: #495E57;
    color: #FFFFFF;
}