.center{
    margin-left: auto;
    margin-right: auto;
    max-width: 986px;
    width: 90%;
}
.btn {
    padding: 8px 16px;
    border-radius: 32px;
    background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    border: #F4CE14 solid 3px  ;
    transition: background, border, color 0.5s;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.grid {
    display: grid;
}
main section {
    margin-bottom: 5rem;
}
.btn:hover,
.btn:focus {
    background-color: #495E57;
    border-color: #495E57;
    color: #FFFFFF;
}

input, select {
    height: 2.5rem;
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
    outline: none;
    border: 0.0625rem solid #E0E0E0;
    border-radius: 0.375rem;
    background: #FFFFFF;
    color: #495E57;
    cursor: pointer;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-width: 0.125rem;
    border-color: #495E57;
}
main{
    min-height: 607px;
}